
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2F2E41;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #f1f1f1;
    background-color: #2F2E41;
    padding: 25px 19px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #FB4848;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #211f41;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100px;
  }
  
  .web-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  /* 
  .logout-btn:hover {
    background-color: #ff2e2e;
  } */
  
  .dasboard-logout {
    background: transparent;
    border: none;
    color: #fff;
  }

  .dashboard-logout {
    background: transparent;
    border: none;
    color: #fff;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }